[2015-12-14 08:15] bmichotte opened #1 "Idea : Date library"
It's always a mess to play with dates. Especially with `NSDate` on iOS and `Calendar` stuff on Android.

Based on the api from [Sugarcube](https://github.com/rubymotion/sugarcube/wiki/NSDate), we could add

## Fixnum
- Fixnum.hour(s), Fixnum.minute(s), Fixnum.second(s), Fixnum.day(s), Fixnum.month(s), Fixnum.year(s)
[code]

## Time
- `Time.from_hash() # .from_parts, .from_??? `
[code]
- `Time.yest

[2015-12-14 08:27] jjaffeux commented on #1
Hi @bmichotte,

I fully agree that we need some cross platform common time/date/datetime API.

I'm stil not sure about the strategy however :
- Add some helper methods
- Write a fully working time/date/datetime (and may be add some of the activesupport methods)
- Write a full featured library to work with dates like moment.js for example

We would need some popular dates usage and see what we woul

[2015-12-14 08:33] jjaffeux commented on #1
To clarify my point of view, I don't like first solution that much, we provide the same thing people expect from ruby or we provide a full new API, but I don't like that mix of ruby and other things. it's not good for discoverability and people don't expect it. I would never be sure how Time would respond.

[2015-12-14 08:34] bmichotte commented on #1
I like the idea of something like moment.js more than Time, Date, and Datetime classes.

And I think we can mix it with helpers for fixnum. And helper for String also can be cool... like ` '2015-12-14'.to_date`

[2015-12-14 10:14] lrz commented on #1
A date library would be useful, I'm not sure if monkey-patching Fixnum is a good idea for this API, at the same time we already add Object#to_json...

[2015-12-14 10:17] lrz commented on #1
Maybe a first approach would be to look at date.rb in CRuby's standard library and see what would make sense to be implemented?

[2015-12-14 10:17] bmichotte commented on #1
@lrz The same thing could be achieved using something like `my_time.add(days: 5)` or something like that, but I think `my_time + 5.days` is really visual and clear

[2015-12-14 10:44] jjaffeux commented on #1
I think the safest best is working on an independent API, we can always pollute std lib methods with call to this independent API after, but creating a cross platform independent API should be our first move IMO.

If it's not clear, what I would do :

[code]

[2015-12-14 10:55] jjaffeux commented on #1
Or we could just get rid of all the Time/Date/DateTime/Calendar/Whatever... and just introduce the concept of 'moment', and pollute string and other classes with ".to_moment"

That would be very nice, easy to use and would still allow other libs/code from people to work without issues.

[2015-12-14 11:00] jjaffeux commented on #1
What I propose:

- Create top level API, based on moment.js
- Write tests for this top level API
- Write implementation for iOS / Android
- Implement .to_moment on some std class (String, Time, NSDate, ...)
- Consider and may be implement syntaxic sugar on top of Fixnum

[2015-12-14 11:03] bmichotte commented on #1
:+1: (very constructive answer, but I'm totally for this idea, so don't have much to say)

[2015-12-14 11:52] jjaffeux commented on #1
@bmichotte If @lrz agrees with this idea, I can work on 1 and 2, and then we can split on 3

[2015-12-14 11:53] jjaffeux opened #2 "Improving Bacon for Android"
It's not directly related to Flow, but atm android specs are not working cause all the mechanism around wait/wait_max/.../resume are broken on android.

[2015-12-22 20:00] jjaffeux commented on #1
# Basic top level API proposal

Mostly inspired by momentjs http://momentjs.com/docs. We might add more sugar in the future, but I would like the base API to be most easy and straightforward possible, and I think mommentjs totally achieve this goal. My only grief being Timezone management.

[code]

[2015-12-22 20:44] bmichotte commented on #1
What about

[code]

[2015-12-22 21:02] bmichotte commented on #1
[code]

[2015-12-22 21:12] lrz commented on #1
Why not using `Date` instead of `Moment`?

[2015-12-22 21:29] bmichotte commented on #1
![Why not both](http://i.kinja-img.com/gawker-media/image/upload/s--9H1Na62d--/1238895886504840879.jpg)

(sorry, too tempting)

[2015-12-22 21:50] jjaffeux commented on #1
@bmichotte @lrz

- accessors instead of chainable API, why not, I'm ok with this, it's probably more Ruby to follow your proposal. However, I really like the fact that's every method return a moment (only formatting methods don't) once again it's very easy to work with and to understand. What do you think ?
- I dont like timezones as symbols, ruby/rails people are used to timezones as strings, it'

[2015-12-22 21:52] jjaffeux commented on #1
One thing I forgot to add in my proposal, I would like the library to support similar method than https://github.com/travisjeffery/timecop to facilitate testing, we would need it to test the lib itself anyways :)

[code]

[2015-12-22 21:55] jjaffeux commented on #1
See this for example, is very confusing, I would like to avoid this :

[code]

I'm working with a `Moment`, sending `to_date`, and I get a `Time`. WAT?

[2015-12-22 22:30] lrz commented on #1
But `Date` doesn't exist in RubyMotion, neither in CRuby core (it's defined in date.rb).

[2015-12-22 22:33] lrz commented on #1
Here is a session from CRuby that isn't confusing?

[code]

[2015-12-22 22:33] bmichotte commented on #1
@jjaffeux
- I think we can get both chainable api and accessors. I really like chainable stuff to set stuff, but I think it's more readable to get accessors like `a_moment.day` to read the values.

- About the `to_date`, it's more a RubyMotion thing. You play with `Calendar` and/or `NSDate` and it's "converted" to `Time`. Something like `Moment.new.to_date.class => java.util.Date | NSDate` could m

[2015-12-22 22:34] bmichotte commented on #1
or `to_date => java.util.Date | NSDate`, `to_time.class => Time`

[2015-12-23 08:55] jjaffeux commented on #1
Yes `Date` is not in core CRuby however, people are used to use it, and if we provide it, people will think they are working with the std library CRuby Date.rb So they will be writing ruby, using a `Date`object that is different than the `Date` object they are used to. That's why I proposed a totally different name, to avoid any confusion.

[2015-12-23 09:21] jjaffeux commented on #1
Moreover, ruby has 3 different concepts : Time, DateTime and Date, which are IMO very confusing to new comers, that's why I don't think we could accurately express those 3 concepts in a Date object, which would loose sense and be too different from regular Date.rb. `Moment` is a more generic name avoiding those issues.

[2015-12-23 14:10] jjaffeux commented on #1
Using https://github.com/Watson1978/motion-date ./cc @Watson1978 @lrz  should be taking into consideration.

+ A pure ruby implementation would mean only one codebase to maintain
+ Adding new platforms to flow would be facilitated

- It probably wouldn't work on android at the moment (how hard would it be to make it work?)
- Might have a performance hit (we need to test this)
- Even if only one co

[2015-12-27 17:08] jjaffeux commented on #1
@lrz @bmichotte any comment on this ?

[2015-12-27 17:22] bmichotte commented on #1
IMHO, I prefer either `Date` with all CRuby methods, either `Moment` with a "different" api

[2016-01-03 12:46] lrz opened #5 "Idea: thread pool library"
RubyMotion for iOS (and OS X) has the `Dispatch` module which wraps the libdispatch library, but RubyMotion for Android doesn't implement this module as the library doesn't exist there.

However, Android seems to offer a nice API to set up and use a thread pool: http://developer.android.com/training/multiple-threads/run-code.html http://developer.android.com/reference/java/util/concurrent/ThreadPo

[2016-01-03 13:04] jjaffeux commented on #5
Agreed.

* we will need this to improve Bacon
* we will need this to improve Net
* Do you propose to follow Dispatch API ?
* We need a good strategy to test this lib, testing threaded lib code looks hard to me.

[2016-01-03 13:10] lrz commented on #5
I think a new API would be better, as the `Dispatch` API is pretty big and we don't want to implement all of it (for Android), also a "simpler" API would probably be better for Flow. I will come up with an API draft.

[2016-01-21 20:53] jjaffeux commented on #2
Mark is working on it, closing it, as it's a RubyMotion issue.

[2016-01-21 20:53] #2 closed

[2016-01-21 20:53] jjaffeux commented on #5
@MarkVillacampa do you want to work on it ?

[2016-02-02 20:47] lrz commented on #5
Done

[2016-02-02 20:47] #5 closed

[2016-02-02 23:47] andrewhavens commented on #1
A few thoughts...I agree that date parsing is not as simple as it should be (in Ruby, RubyMotion, Rails, iOS, etc). Switching between `Date`, `Time`, and `DateTime` objects is confusing. I'm currently using two libraries to do something simple:

* Parse iso8601 (industry standard?) date string received from my API into a date object that I can work with
* Display the date in "time ago" format

For

[2016-03-15 22:49] jlmuir opened #7 "Uninitialized constant error when reference module or class"
I'm getting an "uninitialize constant" error when I reference a Flow module or class.

For example, I clone the Flow repo, build the gem with `rake gem`, and install it. I create an app with `motion create --template=flow Hello`. I then add one line to the `application:didFinishLaunchingWithOptions:` method in `app/ios/app_delegate.rb`:

    Store['test'] = 123

When I try to build and run the app

[2016-03-16 07:05] hboon commented on #7
Do you have the latest version (0.2)?

[2016-03-16 15:04] jlmuir commented on #7
Yes:

    $ gem list | grep motion-flow
    motion-flow (0.2)

[2016-03-16 18:07] jlmuir commented on #7
OK, I got it working for an iOS project!  For an iOS project, the problem is that the docs assume I have the `bundler` gem installed since they say to add `gem` lines to `Gemfile`.

Going back to what I initially reported using the RubyMotion `flow` template, the created project actually has no targets:

    $ motion create --template=flow Hello
        Create Hello
        Create Hello/app/androi

[2016-03-16 18:10] hboon commented on #7
Hmm.. I tried `motion create --template=flow Hello` and it worked for me. But glad you figured it out though!

[2016-03-16 18:46] jlmuir commented on #7
It's a Bundler dependency issue again!  If I have the `bundler` gem installed before I run `motion create --template=flow Hello`, then `rake -T` reports lots of targets.  But if I do *not* have the `bunder` gem installed and run `motion create --template=flow Hello`, then `rake -T` reports *no* targets.

[2016-03-16 20:19] jlmuir commented on #7
I think Flow needs to be clear on its prerequisites.  If it requires Bundler to work, then this needs to be documented (and probably asserted in code).  If it doesn't, then obviously it needs to be able to work when Bundler is not installed.

[2016-04-24 18:13] jusmat opened #12 "uninitialized constant UI::CSSNode"
I'm getting `uninitialized constant UI::CSSNode ` when trying to run sample Hello app within ios simulator.

[2016-04-24 18:16] jjaffeux commented on #12
Did you run  `rake build` ? as stated in the README ?

[2016-04-24 21:05] jusmat commented on #12
Yes, I did. All went well (including gem installation after building it), even building app on device kind of succeeds, it just terminates instantly due to mentioned error. Running ruby 2.3 / El Capitan in case it makes sense.

[2016-04-29 06:49] jusmat commented on #12
Basically, the problem is that `flow/ui/cocoa/libcss_node.a` is not being copied from repo (after building it) to gemfile location. Copying it manually solves the issue.

[2016-04-29 07:21] #12 closed

[2016-04-29 10:28] lrz commented on #12
Thanks @jusmat for the detective work! I think that at the moment everyone is including the library manually, which is why nobody found out that the gem wasn't working yet :)

[2016-04-29 14:49] jusmat opened #13 "Unable to launch android"
#12 fixed issues with iOS, and it works great, but on Android there are still lots of issues. First of all, building gem doesn't copy vendor folder at all. It results in a error declaring that AndroidManifest.xml is invalid, because it doesn't include package info (it really doesn't cause file does not exist at all). Switching to locally built repo instead of gem results in another error:
` ERROR!

[2016-04-29 14:52] jjaffeux commented on #13
Did you setup android on your machine ?
type "motion android-setup" and it should install what you need

[2016-04-29 17:42] Watson1978 commented on #13
I met same error message when I used RubyMotion 4.11, not developing version.

[2016-04-29 17:48] jusmat commented on #13
Maybe it's because I'm using rubymotion-starter?
@jjaffeux I can build and run android app with regular rubymotion

[2016-04-29 17:51] Watson1978 commented on #13
I guess this is related to https://github.com/HipByte/Flow/blame/master/lib/android.rb#L41

[2016-04-29 17:55] Watson1978 commented on #13
@jusmat So far, if you revert https://github.com/HipByte/Flow/commit/4cad3f921e9531aa91015140648d577b96d0acac in your local machine, Flow sample will work on Android with your rubymotion-starter env, I think.

[code]

[2016-04-29 17:57] Watson1978 commented on #13
When we will release RubyMotion 4.12, you don't need to apply above workaround.

[2016-04-29 17:58] lrz commented on #13
Yes it's my fault, that commit needs RubyMotion master (which hasn't been released yet).

[2016-05-01 07:54] isaac opened #14 "Can't build for Android"
When I try and run `rake android:build` I get the following error:

[code]

When I ran `motion android-setup` I get the following error:

[code]

Not sure if these are related or separate errors.

I installed the motion-flow gem by following the instructions in the README. I generated an app using the flow template and then tried to build for android - I didn't make any modifications to the genera

[2016-05-01 08:52] lrz commented on #14
Looks like your Android environment is missing something. Could you delete the `build` directory of your project then try a `rake android:build --trace` and paste the output here?

[2016-05-01 08:57] isaac commented on #14
There was no build directory - same error again:

[code]

[2016-05-01 09:00] lrz commented on #14
Hmm, is the `/Library/Ruby/Gems/2.0.0/gems/motion-flow-0.2/lib/../vendor/android/support/v7/appcompat/AndroidManifest.xml` file existing?

[2016-05-01 09:05] isaac commented on #14
Yes it is missing - there is no vendor directory here:

[code]

[2016-05-01 09:07] isaac commented on #14
There were also a few warnings when building the extensions for Flow:

[code]

[2016-05-01 09:10] lrz commented on #14
It looks like we forget to copy some files in the `rake gem` task. To be honest at this stage pretty much everyone includes (requires) Flow directly, without the gem. We haven't done a first release yet.

[2016-05-01 09:20] isaac commented on #14
Ah ok - so you just include the source in your project and require it in your Rakefile?

Could you please paste a snippet of what your Rakefile would look like?

[2016-05-01 09:24] lrz commented on #14
I would simply suggest to manually require Flow in your project's Rakefile:

[code]

[2016-05-01 09:33] isaac commented on #14
ok - I tried that - now I get this error:

[code]

[2016-05-01 10:04] lrz commented on #14
Ah yes, please refer to https://github.com/HipByte/Flow/issues/13 for a work-around. Super sorry, we will be releasing a first version of Flow as well as a new version of RubyMotion very soon, and all these issues will be fixed. :-)

[2016-05-01 14:47] lrz commented on #14
Earlier problem should be fixed by 60367c5aeec4430d63d843e53ef7da94a2da637d

[2016-05-01 14:47] #14 closed

[2016-05-01 21:06] isaac commented on #14
No problem - thanks for your help!

Building for Android seems to work now but installing fails:

[code]

Do I need a connected Android device to run the emulator?

[2016-05-01 21:12] lrz commented on #14
What emulator are you using? We recommend Genymotion. The visual device needs to be fully running and functional before you use that Rake task. You may have to adapt `app.api_version` to something lower than 23 in case your virtual device image is older.  You can also run `adb -e logcat` to see what's happening on the virtual device.

[2016-05-01 21:13] isaac commented on #14
Sorry - please ignore - just reading the android guides now - I have to create an AVD first. I'll open a new issue if I run into any more issues.

[2016-05-05 11:29] jusmat commented on #13
Managed to solve previous issues, another one came up

when doing `rake android:emulator` I'm getting warning:

`1: error: constructor FlowUIListViewAdapter() is already defined in class FlowUIListViewAdapter
	public FlowUIListViewAdapter() { super(); }`

I'm not so sure where this file is being generated from, but it definitely has two constructors
`import com.rubymotion.*;
public class FlowUILis

[2016-05-06 16:12] Watson1978 commented on #13
If you run `rake clean` or `rake clean:all` at once, I think probably you can solve your issue.

[2016-06-15 01:45] isaac opened #15 "Idea: Map UI Library"
We could probably get some ideas from React Native:

https://facebook.github.io/react-native/docs/mapview.html
https://github.com/lelandrichardson/react-native-maps

Thoughts?

[2016-06-15 01:47] MarkVillacampa commented on #15
This is definitely something we should app.

I will add this little library I made to abstract Google/Apple maps api on iOS. It might me useful as inspiration for the Ruby api.

https://github.com/cabify/motion-maps-wrapper

[2016-06-15 07:10] jjaffeux commented on #15
@MarkVillacampa should it use default map sdk on each platform (apple map on iOS/google map on android) ? use google map sdk on both (we would have to vendor map sdk on iOS, or introduce cocoapods) ? leave the choice and build an abstraction on top of it?

[2016-06-15 07:24] isaac commented on #15
@jjaffeux IMHO by default it should use the native map SDKs on iOS and Android - that way it wouldn't require any extra dependencies. I hadn't thought about supporting the Google Maps SDK on iOS as well but maybe that would be nice.

@MarkVillacampa thanks - motion-maps-wrapper looks good.  Are you pretty happy with that API or would you make some changes if you were starting again from scratch?

[2016-06-15 15:53] lrz commented on #15
I looked into that recently. It appears that Android does not have a map API builtin, you have to vendor a giant library to get google maps. On iOS of course there is MapKit but indeed some users may want to use google maps instead, especially in the case of a Flow app where cross-platform (and consistent UX) is key.

So my recommendation would be to provide a Flow map API that is based on google

[2016-06-15 17:44] jjaffeux commented on #15
agreed

Envoyé de mon iPhone

[2016-06-16 08:27] andrey-str opened #16 "Is it possible already to render on canvas?"
Something like a layer on CoreGraphics to draw simple shapes, like circles, lines, etc.

[2016-06-20 08:55] MarkVillacampa commented on #16
Not yet. Maybe you should check motion-game, which is a cross-platform library for creating games, but could work for painting shapes on screen.

https://github.com/HipByte/motion-game

[2016-06-22 01:04] Watson1978 opened #17 "[Android] Build error with "error: undefined reference to 'Init_CSSNode'""
[code]

[2016-06-22 01:06] Watson1978 commented on #17
For emulator, I think this should create `x86` library instead of `build/android/Development-23/lib/armeabi-v7a/libpayload.so`

[2016-06-22 01:18] Watson1978 commented on #17
`rake android:device` causes same error

[2016-06-22 01:58] Watson1978 commented on #17
At RubyMotion 4.12, we changed default architecture from `armv5te` to `armv7` in order to avoid http://hipbyte.myjetbrains.com/youtrack/issue/RM-1081 issue.

To link native library to app, we have to change library path in https://github.com/HipByte/Flow/blob/master/Rakefile#L4 following with
https://github.com/HipByte/RubyMotion/blob/4bd2f8e81adc3c61b2b58fad90ef7e6efdc4f0a7/lib/motion/project/tem

[2016-06-22 02:02] #17 closed

[2016-06-22 02:03] Watson1978 opened #18 "[Android] "samples/ui_demo" app will crash with RubyMotion 4.12"
Need to enable VM_FIXNUM_ENABLED

[2016-06-22 02:18] #18 closed

[2016-06-22 02:21] Watson1978 opened #19 "[Android] ERROR! Class `ActivityIndicator' already defined with a different super class (`View')"
With latest commits, the build error will be occurred when build  "samples/ui_demo" app with `rake android:emulator`

[code]

At least, "samples/ui_demo" works commits until https://github.com/HipByte/Flow/commit/42c33cc4abff6ac736e7c0977835646e39a86247

[2016-06-22 03:39] danhealy opened #20 "[iOS] Can't run sample apps, undefined method width= for UI::View"
```2016-06-21 20:32:07.479 uiapp[3776:176330] screen.rb:20:in `loadView': undefined method `width=' for #<UI::View:0x10d27a070> (NoMethodError)```

[2016-06-22 04:39] m3ltaw4y commented on #17
I'm still having this issue?

[2016-06-22 04:40] Watson1978 commented on #17
Fixed version are not released yet.

[2016-06-22 05:51] Watson1978 commented on #19
This issue occurs with new project

[code]

[2016-06-22 06:14] Watson1978 commented on #19
This issue is occurred since 807ecfd6cfb5cc49e9e9f63167daafc14a0e7da0 patch

[2016-06-22 06:36] #19 closed

[2016-06-22 06:45] Watson1978 opened #21 "[Android] NoMethodError: undefined method `width=' for #<View:0x55>"
With latest codes in master branch, when run "samples/ui_demo" on Android emulator, then I get this error.

[code]

[2016-06-22 07:42] jjaffeux commented on #20
@danhealy Hi, if you downloaded Flow source code, you need to run "rake build" inside the root directory.

[2016-06-22 07:42] #20 closed

[2016-06-22 07:43] jjaffeux commented on #13
Closing due to inactivity.

[2016-06-22 07:43] #13 closed

[2016-06-22 07:43] #7 closed

[2016-06-22 07:44] jjaffeux commented on #15
@MarkVillacampa Could you give me your opinion on this please ? as a big map user, what do you think of dropping apple map support?

The biggest cons I see is related to licenses, api key rate limits, and things like that...

[2016-06-22 09:00] isaac commented on #15
@lrz I can understand that some developers may want their Flow app to have a consistent UX cross-platform. For me it is more important that my apps integrate well with the native OS. More iOS users use the Apple Maps app than Google Maps app and they are already familiar with the Apple Maps UX.

[2016-06-22 10:04] Watson1978 commented on #21
dumped defined methods with `p view.methods` at `screen.rb:113`

[code]

Looks like UI::View object in Android actually does not have `width=` which method should be defined in CSSNode at `css_node.c`

[2016-06-22 10:28] jjaffeux commented on #21
@Watson1978 looks like it doesn't have any of the css_node methods

anything wrong in https://github.com/HipByte/Flow/blob/master/Rakefile#L52 ? or broken by the last RM ?

[2016-06-23 01:41] Watson1978 commented on #21
Looks like `Init_CSSNode` in `css_node.c` would be called at launching and defined `CSSNode` and methods at least.

However, when use `UI::View`, looks like it inherits empty class.

Looks for me this is similar with #19

[2016-06-23 01:50] #21 closed

[2016-06-24 06:17] Watson1978 commented on #19
`ActivityIndicator` had defined with different namespace of super class.

https://github.com/HipByte/Flow/blob/807ecfd6cfb5cc49e9e9f63167daafc14a0e7da0/flow/ui/activity_indicator.rb
[code]

https://github.com/HipByte/Flow/blob/3ee460665a3906735943b1fa1d74253b2e060933/flow/ui/android/activity_indicator.rb

[code]

Then, when generate Java files from .map, this error was occurred at
https://github.c

[2016-06-24 07:30] jjaffeux commented on #19
@Watson1978 this file https://github.com/HipByte/Flow/blob/807ecfd6cfb5cc49e9e9f63167daafc14a0e7da0/flow/ui/activity_indicator.rb doesnt exist anymore, or am I mistaking ?

[2016-06-24 07:31] Watson1978 commented on #19
@jjaffeux you're right. I had just investigated the root of this issue more.

[2016-06-24 08:43] jjaffeux commented on #19
Ok ;)

[2016-06-24 09:55] Atastor commented on #17
Virgin flow project with motion 4.12, updated Gemfile to
[code]
so that
[code]
Still complaining about  `Init_CSSNode`:
[code]

[2016-06-24 12:25] Watson1978 commented on #17
@Atastor We have released Flow v0.1.2 to fix issues. Could you please update gem with `gem install motion-flow`

To use master branch in your env, you have to build extension which written by C language.
So, I recommend that you will use released Flow v0.1.2.

[2016-07-01 05:52] m3ltaw4y opened #22 "Reddit sample project won't build in android version 19"
Works fine for android 23.
Built from f538de3
changed
app.api_version = "23"
to
app.api_version = "19"
in config/android.rb

received following error during rake android:emulator

build/android/Development-19/java/com/yourcompany/reddit/ReachabilityDelegate.java:6: error: ConnectivityManager() is not public in ConnectivityManager; cannot be accessed from outside package
	public ReachabilityDelegat

[2016-07-01 12:08] lrz commented on #22
Looks like the methods we use were introduced in API 21: https://developer.android.com/reference/android/net/ConnectivityManager.html

Maybe we should disable that Flow API if we target an Android API lower than 21?

[2016-07-01 21:18] danhealy commented on #22
Is it possible to support lower versions by excluding some of the libraries? It's important due to current adoption rates https://developer.android.com/about/dashboards/index.html#Platform

[2016-07-01 21:30] lrz commented on #22
Of course it's possible, we just need to programmatically check the version of Android and define the API accordingly. If you would like to submit a patch feel free!

[2016-07-01 21:32] lrz commented on #22
Actually it might be better to do that at build time. We could isolate the problematic code in a .rb file and remove it from `app.files` in case the version of Android is lower.

[2016-07-02 08:47] katsuyoshi opened #23 "Crashing Reddit with the cellular connection on iOS device."
When I launch the Reddit sample on iOS device, I got below error.
It seems to occur in cellular  connection. Wi-Fi connection is fine.

[code]

[2016-07-02 10:22] Watson1978 commented on #23
@jjaffeux What do you think about this exception?

[2016-07-02 12:20] katsuyoshi opened #24 "duplicated lines"
These lines are duplicated.
If there is a special meanings, please ignore this issue.

[code]
https://github.com/HipByte/Flow/blob/master/flow/ui/cocoa/screen.rb#L10-L11

[2016-07-03 16:59] jjaffeux commented on #24
Fixed thanks

[2016-07-03 16:59] #24 closed

[2016-07-03 17:01] jjaffeux commented on #23
@Watson1978 it's expected, I will try to fix it.

see https://github.com/HipByte/Flow/commit/ea64aa8d367b87d0eb5536c8a703c15318b45ed4

[2016-07-03 17:01] #23 closed

[2016-07-03 17:03] jjaffeux commented on #16
@andrey-str As mark said it's not possible, and we sadly have a lot of subjects to address before this. Feel free to contribute a PR if you have an idea on how it could work on both iOS and Android.

Thanks.

[2016-07-03 17:03] #16 closed

[2016-07-03 17:04] jjaffeux commented on #22
I would like to have tests working on Android in RM before doing this kind of api version fixes, so we can start tests with different api platforms, otherwise it will become a nightmare to maintain.

[2016-07-03 23:39] isaac commented on #15
What is the best way forward here?

On iOS I can see how it would be useful to support both Apple and Google maps. I am happy to start working on an abstraction that supports both APIs but I have no plans to actually use Google maps in my own iOS apps.

[2016-07-03 23:42] katsuyoshi commented on #24
thanks

[2016-07-03 23:43] katsuyoshi commented on #23
It works fine.
Thanks

[2016-07-04 10:10] jjaffeux commented on #15
@isaac I'm waiting for mark point of view, and then we will see what we can do on this subject.

[2016-07-04 10:35] lrz commented on #15
Maybe we could have 2 implementations for the Map API on iOS? One that uses MapKit and one that uses Google Maps? Obviously you would need to select which one you wanna use in the Rakefile.

That sounds like extra work, but if the API is simple enough maybe it won't be such a big deal. And it will please everyone.

[2016-07-05 00:13] isaac commented on #15
@jjaffeux - thanks - I am definitely keen to hear from @MarkVillacampa too

@lrz - sounds good - I just want to clarify what you mean - this is my understanding:

We have one abstract public Map API that is usable from Flow. This API has 3 implementations - which one is used depends on the platform and Rakefile configuration:

1. Google Maps on Android
2. Google Maps on iOS
3. Apple Maps (MapKit)

[2016-07-05 00:16] lrz commented on #15
Yep that would be it :)

[2016-07-06 05:07] cactis opened #26 "com/yourcompany/flowapp: Java exception raised: java.io.FileNotFoundException: launch_screen.png"
[code]

[2016-07-06 09:17] lrz commented on #26
That's probably because you run RubyMotion Starter and we forgot to add the launch screen image to the Flow template.

[2016-07-06 13:04] #26 closed

[2016-07-06 13:10] Watson1978 commented on #26
@cactis Now, this fixing is not released yet. If you want, you will be able to try fixing with

[code]

Thank you for your reporting :)

[2016-07-06 14:05] Watson1978 opened #27 "[Android][Starter] ui_demo sample crashes with java.lang.IllegalStateException"
When try ui_demo sample with Starter package, it will crash as following.
With normal RubyMotion (Non-Starter) package, it will works well.

[code]

[2016-07-12 04:25] andrewhavens opened #29 "No such file or directory build/.../repl_ports.txt"
I'm trying to run the reddit sample app. I downloaded the source and tried running `rake super_repl`, then I saw this error:

[code]

I'm using the latest code from master, and RubyMotion 4.12.

[2016-07-12 04:54] andrewhavens commented on #29
Ah, I think I found the source of the issue. The "super repl" seems to skip the build step: https://github.com/HipByte/Flow/blob/master/lib/motion-flow.rb#L234-L235

This seems unintuitive since we have always been used to the build step running automatically for us when we run our apps in the simulator. Not sure why this would intentionally skip the build step.

[2016-07-12 06:52] jjaffeux commented on #29
@andrewhavens must be a regression due to 4.12

@MarkVillacampa what do you think ?

[2016-07-12 08:50] lrz commented on #29
Actually it's by design, as I have been using the super REPL frequently for demos I wanted it to run as fast as possible (and therefore skip the build steps). Maybe we could simply honor a "skip_build" environment variable (and by default build both targets).

[2016-07-12 09:38] jjaffeux commented on #29
@andrewhavens could you try this on android please ?

[code]

Tried on iOS and it's working fine, but don't have a machine with android setup, and my internet is terrible...

[2016-07-12 21:17] tsugua opened #30 "Doesn't work with Bubblewrap Gem on OSX - duplicates APP constant"
Tried to load motion-flow into a project but it seems to cause an issue where motion-flow is using the definition of App (which Bubble-wrap has been using for years)

[code]

[2016-07-13 03:12] andrewhavens commented on #29
@jjaffeux Yes, that code solves the "missing repl_ports.txt" error. Works for Android too.

However, now that I am using the "super repl", a different problem arises. The iOS and Android log statements are all mixed together. When one simulator/emulator crashes, there's no way to relaunch it without stopping the other one. I've learned that when Dropbox is syncing (which it's always doing), I have

[2016-07-13 05:31] andrewhavens opened #31 "undefined method boundingRectWithSize:options:context:"
I'm trying to work with `UI::List` but I am running into this issue:

[code]

It looks like the label that I am adding to my row is causing this error because `attributedText` is nil. But according to the Apple docs, it is always expected to be nil by default. I am setting the text (not attributed text) attribute.

[code]

[2016-07-13 06:32] jjaffeux commented on #29
Ok fixed by : https://github.com/HipByte/Flow/commit/d51438d14696f249a6fbcec22c6459f9d7f8751a

Thanks for testing. Will think about the other issues.

[2016-07-13 06:32] #29 closed

[2016-07-13 07:59] jjaffeux commented on #31
@andrewhavens first, UI::List is one of the area that still needs a lot of work.

Concerning your question, can you provide a small sample of what you are trying to accomplish please ?

[2016-07-13 08:05] jjaffeux commented on #30
AFAIK we don't use any "App" constant in Flow.

Also  you are not crashing on this but on : > NoMethodError: undefined method `start_with?' for #<Array:0x007f9e1c969210> as stated in your log.

So we are probably clashing with something bubble-wrap is doing with `app.files`. Flow is currently not supporting/testing third party gems as Flow is still early work, so this is expected.

Thanks for repo

[2016-07-13 08:05] #30 closed

[2016-07-14 03:37] andrewhavens commented on #31
This sample works on Android but does not work on iOS (with the error mentioned above):

[code]

[2016-07-14 05:04] andrewhavens commented on #12
I think this still might be a problem. Can we reopen this issue? I am getting the same error when running off the latest commit of the master branch:

[code]

[2016-07-14 05:40] jjaffeux commented on #31
@andrewhavens Are your sure none of this is `nil` ? Try to add .to_s to be sure it's not the problem.

[code]

[2016-07-14 05:41] jjaffeux commented on #12
@andrewhavens did you run `rake build` ?

[2016-07-14 10:47] Watson1978 commented on #12
@andrewhavens `Flow` uses Ruby C extension which need to compile by `clang`.
However, if you specified Github repository directly at your Gemfile, the Ruby C extension cannot be compiled,  I think.

If you want to use the code in HEAD of master branch, you need to clone the repository into your machine and compile Ruby C extension with `rake build`.

[code]

And then

[code]

[2016-07-20 23:10] andrewhavens opened #32 "Can't use github option in Gemfile. Only works when installed via `gem install`"
This issue was referenced in #17 but has not been resolved.

So, given a `Gemfile` like this:

[code]

...it does not work because the C extension is not installed.

[2016-07-20 23:55] Watson1978 commented on #32
This gem does not support what specified Github repository directly at your Gemfile

If you want to use the code in HEAD of master branch, you need to clone the repository into your machine and compile Ruby C extension with `rake build`.

[code]

And then

[code]

Or,

[code]

[code]

[2016-07-20 23:55] #32 closed

[2016-07-21 05:28] andrewhavens opened #33 "undefined method supportActionBar for MainActivity"
It seems that the `UI::Navigation` class is not compatible with whatever version of Android I am using (23?). When I try to set the title that is displayed in the navigation bar, I see this error:

    Exception raised: NoMethodError: undefined method `supportActionBar' for #<MainActivity:0x100075>

I noticed that the main activity class generated by the Flow generator looks like this:

[code]

I

[2016-07-26 05:09] andrewhavens commented on #31
@jjaffeux Yes, `proxy.attributedText` is nil. The same thing happens when setting `label.title = nil` or simply not setting a title at all since `attributedText` is nil when the label is initialized.

[2016-07-26 06:08] andrewhavens opened #35 "Error: constructor FlowUIFragment() is already defined in class FlowUIFragment"
Not sure what is causing this, but it is preventing me from launching my app in the Android emulator:

[code]

[2016-07-26 12:29] lrz commented on #35
Hi Andrew, does it reproduce if you clean up everything and try again? There is a well-known bug which manifests when generating the java stubs in an already-built project.

[2016-07-31 08:32] ulversson opened #36 "I cannot change app icon when "motion-flow" is added to the Rakefile (android app)"
Without `require "motion-flow"` in the Rakefile my android project seems to be compiling fine.
After adding  `require "motion-flow"`.I'm getting an error like the one below. I'm specifying

`app.icon` in the Rakefile it compiles ok with this icon (located in drawable directory).
With `require "motion-flow"` crashes with the following message:

`build/android/Development-22/AndroidManifest.xml:4: e

[2016-08-02 14:18] andrewhavens commented on #35
Ah yes, running `rake android:clean:all` fixed the problem. Thanks!

[2016-08-02 14:18] #35 closed

[2016-08-14 15:44] amirrajan opened #41 "reasonable defaults for layouts?"
Just a short list I'm keeping for reasonable defaults for different UI components.

- [ ] `UI::Button` default height?
- [ ] `UI::View` default flex/flow direction?

[2016-08-14 16:13] jjaffeux commented on #41
My idea was to provide a default template implementing material design.

[2016-08-14 16:14] amirrajan commented on #41
Only bring this up because I got tripped on on `UI::Button` `on :tap` wire up. I spun my wheels for a little bit because the tap event wasn't firing. It was because the `UI::Button` didn't have a height.

[2016-08-14 16:15] jjaffeux commented on #41
concerning this specific case we should make sure the button has at least the size of its intrinsic size (text, image)

[2016-08-14 16:43] jjaffeux commented on #41
Should work with this commit on iOS : https://github.com/HipByte/Flow/commit/79749c71b793f9014e3978741b498c7511920234

[2016-08-18 14:44] rafaeliga opened #42 "Require separated modules"
Is there a way to include only a module? Like "Net"?

Im trying something like, on Rakefile:

require 'motion-flow/flow/net'

Gemfile:

gem 'motion-flow', require: false

Thanks

[2016-08-18 15:34] jjaffeux commented on #42
Not possible atm, it would require more logic as some module depend on other flow modules. At the moment they are all required in `common.rb`

[2016-08-18 15:38] rafaeliga commented on #42
I see.

Should I close the issue or mark as improvement somehow?

[2016-08-18 17:07] rafaeliga opened #43 "Using with gradle - remove support-v4 from default?"
Is there a way to remove android-support-v* from default config?

My project needs motion-gradle support and I want to keep everything there, using gradle.

These are the lines that I needed to remove from default android project file:

`vendor_dir = File.join(File.dirname(__FILE__), '../vendor/android')
  v7_app_compat_dir = File.join(vendor_dir, 'support/v7/appcompat')
  app.vendor_project(:jar

[2016-08-18 17:17] jjaffeux commented on #43
The easy way would just be to use `motion-gradle` for Flow. We wanted to Flow to be very easy to get started.

We we could try to be smarted and detect if motion-gradle is in the project and if the gradle dependencies include support-v4, would be something like:

[code]

[2016-08-18 17:21] rafaeliga commented on #43
That sounds good!

Thanks for your fast answer.

Do I need to create a pull request with this or will probably be include in a next release? :D

[2016-08-18 17:23] jjaffeux commented on #43
happy to merge a PR if you get something working

[2016-08-18 19:25] rafaeliga commented on #43
The first part works "unless app.respond_to?(:gradle)", but the second because on that moment my code that adds the gradle dependencies wasnt executed yet, is that right?

I can create a Pull request only with the respond_to, but Im sure if that is correct.

[2016-08-18 20:46] jjaffeux commented on #43
yeah... was afraid of this, we need to figure out a solution to this :)

I don't have time to dig this for now, maybe using `motion-gradle` for flow would be the best solution.

[2016-08-18 20:50] rafaeliga commented on #43
Got it.

Im going to create a pull request with that.

Thanks!

[2016-08-19 18:57] rafaeliga opened #44 "[Android] Net module - only supports success calls?"
When my api returns any status code different from 200, I get this error/crash:

--------- beginning of system
(main)> 08-19 15:56:03.087 31788 31952 E br/com/rubythree/hello: Java exception raised: java.io.FileNotFoundException: http://192.168.1.119:3000/api/tokens.json
--------- beginning of crash

I try to add a begin/rescue blocks, but it didnt work.

[2016-08-19 19:10] jjaffeux commented on #44
Please provide a sample I can run

[2016-08-19 19:24] rafaeliga commented on #44
I created a new project to test:

motion create --template=flow HelloFlowSample

main_activity.rb

[code]

Crash/error:

--------- beginning of main
(main)> 08-19 16:23:41.134  7839  7944 E com/yourcompany/helloflowsample: Java exception raised: java.io.FileNotFoundException: http://www.google.com/error
--------- beginning of crash

[2016-08-22 19:09] rafaeliga commented on #32
So how can I fork the project?

I need to create a new gem?

[2016-08-24 21:48] rafaeliga commented on #44
hey @jjaffeux, did you reproduce the crash?

I would try to debug the Java files....can you help me with that?

thanks

[2016-09-15 14:00] amirrajan opened #45 "`UI::Button#hidden?` and `UI::Button#hidden=` not available on Android"
Steps to reproduce:

[code]

In the repl run:

[code]

Weird because `UI::Button` does inherit from `UI::Control`, which inherits from `UI::View` (which has the `hidden?` `hidden=` methods.

[2016-09-15 15:21] amirrajan commented on #45
Fixed in https://github.com/HipByte/Flow/commit/39aec3137d42ddb6aece51343fd6e03f93ea370a

[2016-09-15 15:21] #45 closed

[2016-09-16 21:48] andrewhavens commented on #42
@rafaeliga @jjaffeux I have submitted a PR which attempts to start addressing this issue. It's not a final solution by any means, but hopefully gets the ball rolling in the right direction.

[2016-09-26 22:54] jlmuir opened #48 "Can't handle exceptions on iOS in Net::Session#get"
I have an iOS app where the user supplies a base URL for a service, and the app makes HTTP requests against the service via Flow's `Net` module.  The app will crash with a `RuntimeError` while making an HTTP request if a problem occurs such as: the URL contains a host part that does not resolve in DNS, a connection to the service could not be established, etc.  There seems to be no way to handle e

[2016-09-30 19:52] cameron-K opened #49 "[Android] Interference with resources?"
I had the gem installed and working, but I noticed my layout files located in 'resources/layout/activity_item.xml' were not available when trying to reference them with `R::Layout::Activity_item`

09-30 15:37:00.580  3526  3526 E com/xx/eventer: 	from item_activity.rb:5 in `onCreate'

attempting to retreive the id:
`resources.getIdentifier('activity_item', 'layout', packageName)`

returns 0

Remov

[2016-10-03 17:56] cameron-K commented on #49
I just needed to specify the resources path with `app.resources_dirs` in the rakefile.

[2016-10-03 17:56] #49 closed

[2016-10-13 19:33] rafaeliga commented on #44
@jjaffeux can you help me to start on debug and fix this error on Flow/Net? Which file should be looking? android/request.rb(https://github.com/HipByte/Flow/blob/master/flow/net/android/request.rb)? Thanks!

[2016-10-14 13:16] rafaeliga commented on #44
@jjaffeux please check the pull request that I created when you have a chance! Thanks!

[2016-10-17 17:50] andrewhavens opened #51 "Silently fails when bundler is not loaded"
I've been seeing this issue pop up for people. They don't realize that the bundler gem is not installed in their environment. The reason the continue down the wrong path is because the generated Rakefile is rescuing from LoadError without providing any kind of error message. https://github.com/HipByte/Flow/blob/master/template/flow/files/Rakefile#L6

Exhibit A: http://community.rubymotion.com/t/ca

[2016-10-26 13:54] zetachang opened #52 "CSSNode#insert_before method"
It would be nice to have this method given that the use case of inserting a new node to an existing one do exist.

Currently I have to use `add_child` and manually delete it from children array and insert it back.

[2016-10-26 15:43] amirrajan opened #53 "Local JNI overflow for `UI::Button` [Android]"
[code]

[2016-10-31 15:53] wndxlori commented on #33
I just ran into this same problem.  Same fix that @andrewhavens recommended above worked for me, but it seems like there should be a more appropriate bug fix applied to Flow

[2016-11-01 13:44] lrz commented on #33
This looks like a bug in the template generator indeed, which should use the AppCompat subclass.  @andrewhavens as you're a contributor feel free to patch https://github.com/HipByte/Flow/blob/master/template/flow/files/app/android/main_activity.rb#L1 accordingly :-)

[2016-11-08 16:51] #31 closed

[2016-11-08 16:56] andrewhavens commented on #51
Fixed by #54

[2016-11-08 16:56] #51 closed

[2016-11-12 14:34] friendlyuis commented on #27
Hi,

This thread has been open for a while with no reply, did you ever figure out why that was the case?

[2016-11-12 15:05] Watson1978 commented on #27
This is bug in RubyMotion runtime, not Flow's bug.
So far, you can avoid a crash with comment out `super` in https://github.com/HipByte/Flow/blob/master/samples/ui_demo/app/android/main_activity.rb#L3

[2016-11-12 15:05] #27 closed

[2016-11-12 15:11] friendlyuis commented on #27
thanks, that was quick! I actually found the answer in the below url and was about to come back to answer the question in case others had the same issue.

http://community.rubymotion.com/t/using-appcompatactivity-causes-an-java-lang-illegalstateexception/1436

[2016-11-12 15:18] Watson1978 commented on #27
This issue exists only Starter package.
It is best solution is purchased a RubyMotion license :)

[2016-11-12 15:21] Watson1978 commented on #27
Filed in https://hipbyte.myjetbrains.com/youtrack/issue/RM-1150

[2016-11-19 22:02] friendlyuis opened #55 "Idea: Adding UI::Eventable to label"
Hi All,

I was trying to make a simple menu system with lists//labels and realized there were no actual way of making it work (or at least, that I know of) so I started thinking, can't we make anything anything tap-able like UI::Button? Now I haven't tried this, but looking at the button.rb file, I found this:

  def initialize(view)
    @view = view
  end

  def onClick(button)
    @view.trigger

[2016-11-20 00:38] jjaffeux commented on #55
You would need to do what we are doing on `text_input` https://github.com/HipByte/Flow/blob/master/flow/ui/cocoa/text_input.rb#L5

You would override `on(event)` to add a gesture recognizer on the label. At least this is how you could achieve this on iOS.

[code]

Should work

[2016-11-20 03:26] friendlyuis commented on #55
Cool, that means if we did something similar(accessing the native API  to the Android label class, https://developer.android.com/reference/android/view/GestureDetector.SimpleOnGestureListener.html) we'd get it cross platform. I'll provide update if and when I figure out how to do it.

[2016-12-15 18:11] hboon opened #59 "Adding an `Application` or `Platform` library?"
Related to #58.

[UI](https://github.com/Hipbyte/Flow/tree/master/flow/ui) doesn't look like a place to add `build_number` and `version_string`. @jjaffeux suggested `Application` or `Platform`. This *might* also be a place for "utility" functions such as retrieving the environment (test, prod, etc).

Since Flow is marked as WIP, we can go ahead with something and refactor later? :)

Ideas?

[2016-12-15 18:12] hboon commented on #59
@jjaffeux @Watson1978 @andrewhavens ?

[2016-12-15 19:07] jjaffeux commented on #59
note : the platform module of react-native https://facebook.github.io/react-native/docs/platform-specific-code.html#platform-module

[2016-12-15 22:59] andrewhavens commented on #59
I'm not convinced that an `Application` class would be useful/necessary/intuitive. I kind of feel like `build_number` is a config setting, or something related to the current build, but not ever something you would reference in your application code.

I think a `Platform` class makes a lot of sense.

[code]
Though, a `Device` class may also be a nice alternative:
[code]

[2017-01-15 19:23] roolo commented on #17
I still have this issue

[code]

In https://github.com/HipByte/Flow/tree/master/samples/ui_demo :

[code]

[2017-02-02 09:03] zetachang opened #62 "Adding a Promise library?"
This might be helpful for composing async tasks.

[2017-02-02 09:11] lrz commented on #62
Might be interesting indeed! If you wish to contribute it feel free :)

[2017-02-02 09:36] zetachang commented on #62
Good to know!

Also, I think it might be helpful if async API could also return a Promise like React Native did (and still support callback/block API)

[code]

[2017-02-02 09:42] lrz commented on #62
Indeed, we could change the existing APIs to return a Promise instead. But I guess we need to figure out the initial API and implementation first.

[2017-04-19 13:36] #42 closed

[2017-04-28 18:36] amirrajan opened #68 "UI layout throws exception on Android but not iOS"
[code]

This however works:

[code]

The following properties would be impacted because of this (I think):

- direction, "inherit", "ltr", "rtl"
- flex_direction, "column", "column_reverse", "row", "row_reverse"
- justify_content, "flex_start", "center", "flex_end", "space_between", "space_around"
- align_content, "auto", "flex_start", "center", "flex_end", "stretch"
- align_items, "auto", "flex_s

[2017-04-28 18:50] amirrajan opened #69 "Buttons have a default `height` in iOS but not Android"
`height` has to be explicitly set on UI::Button for Android.

[2017-04-28 21:46] amirrajan opened #70 "Background color for view on Android only gets updated when view is resized"
Need to pin down steps to reproduce. But setting the `background_color` for a view is not reflected when called `view.update_layout` unless the view is resized.

[2017-04-28 21:47] amirrajan commented on #53
Cant reproduce.

[2017-04-28 21:47] #53 closed

[2017-04-29 17:49] jjaffeux commented on #68
I think there's probably a bug in:
[code]

more exactly:

[code]

[2017-04-30 19:22] amirrajan opened #72 "TextInput should have a reasonable default for height."
maybe 2px padding, fontsize * 2 for height, `input_offset` of 10 to 20

[2017-04-30 22:40] amirrajan opened #73 "Not obvious how to set responder chains."
`focus` and `blur` are there, but not clear if there is a way to assign [responder chains](https://developer.apple.com/reference/uikit/uiresponder?language=objc). Not sure what the equivalent is in Android.

[2017-04-30 22:43] amirrajan opened #74 "Input fields behind keyboard need to move up."
[From this article](https://developer.apple.com/library/content/documentation/StringsTextFonts/Conceptual/TextAndWebiPhoneOS/KeyboardManagement/KeyboardManagement.html)

[2017-05-03 22:46] #69 closed

[2017-05-04 08:53] jjaffeux commented on #48
We should probably wrap it inside Flow to offer the same error behavior on iOS/Android and to also simplify dev work.

Might have to change the API a little bit. Or add an "error" field on the response object.

[code]

Net::Error would have some basic fields (message, code?) and also the classic Flow `proxy` field which would give access to the underlying platform error object.

@amirrajan what do

[2017-05-04 09:03] Bounga commented on #48
@jjaffeux Seems pretty good to me. I'm really for unifying the way it works across platform rather than having to rescue a specific exception. A `response.error` object would be enough for my usage.

[2017-05-04 12:17] jjaffeux commented on #48
@amirrajan @Bounga

A wild API idea:

[code]

[2017-05-04 18:58] hboon commented on #48
Interesting idea. Thanks for working on this. Been doing much Javascript lately? :stuck_out_tongue:

Some thoughts:

1. This looks nice, but considering that Flow has a few other pieces, would a mix of paradigms be good?
2. Does `response.failure` also cover 4xx and :client_error or just pure connectivity errors?
3. on(:4xx) etc might be nice?

[2017-05-04 21:53] amirrajan commented on #48
I'm a big fan of [Reqwest](https://github.com/ded/reqwest) and [HTTParty](https://github.com/jnunemaker/httparty). Just my random two cents of project I look up to.

[2017-05-05 06:50] andrewhavens commented on #48
@jjaffeux I like these ideas. I think maybe it could be flattened a little bit to avoid too many nested blocks. What do you think about this:

[code]

...or maybe this:

[code]

...or maybe this:

[code]

[2017-05-09 11:17] jjaffeux commented on #48
@andrewhavens @hboon thx for the great insights, I've been toying with multiple apis the last days, nothing finished yet.

My main concerns are:
- differentiate https errors from network/uris/... errors
- avoid multiple checking (success? error.nil? response.status.code == xxx...)
- keep it very flexible and straightfoward

My personal reference is http://docs.python-requests.org/en/master/

[2017-05-11 13:43] amirrajan opened #75 "Memory leak?"
I have been looking at the 'c' source code for creating a node in the Flow gem and have noticed what I think may be a memory leak. Here is the code for creating a new node:

[code]
A node is created by using 'malloc' to allocate memory for the node structure which is then later wrapped in a ruby class and then a weak reference is created for it. This is all fine and I believe because of the wrappi

[2017-05-11 13:51] lrz commented on #75
free_css_node() is indeed never called but it doesn’t matter as the runtime will free() the internal memory of these objects upon finalisation. There is no memory leak :-)

[2017-05-11 13:56] #75 closed

[2017-05-11 16:25] bmontegani commented on #75
Ok. Makes sense I guess. So what would happen if I created a data structure on the heap that was stored inside the css_node_t structure that represents the parent of the node. Also what if I wanted to create a list of nodes data structure on the heap stored inside the css_node_t structure that represents a list of children nodes. Would the memory of these data structures also be freed upon finaliz

[2017-05-11 20:02] bmontegani opened #76 "UI::Image#source= method causes crash if image does not exist"
If you pass a string as parameter to the source= method and the image does not exist then application will crash later in the method because the proxy(UIImageView).image is nil and sending the size message to nil causes the crash. Suggest there needs to be a default 'image not found' image provided for all images that cannot be found.

[code]

[2018-08-23 03:56] davetrollope commented on #36
I just ran in to this same problem in a non-flow app because I added flow for its JSON module. The suggested work around in #64 fixed the problem for me. This is likely to trip up many new apps and would be really good to address. 2c

[2019-08-16 16:18] jlmuir opened #83 "[iOS] UI::Camera broken with undefined symbols"
With RubyMotion 6.2 on macOS Mojave 10.14.5, I can't build an app for iOS 12.4 that uses Flow (i.e., motion-flow 0.1.8) because the build errors out due to undefined symbols in UI::Camera:

[code]

That fails with messages like:

[code]

and ends with:

[code]

If I delete `flow/ui/cocoa/camera.rb` from the installed gem, then the app builds successfully.

[2019-08-16 20:05] amirrajan commented on #83
You may need to include `AVFoundation` in the Rakefile. Mind double-checking that?

[2019-08-16 20:38] jlmuir commented on #83
Yes, I confirm that adding `app.frameworks << 'AVFoundation'` to the `Motion::Project::App.setup` block of `Rakefile` in the `Hello` project makes the app build successfully.

[2019-08-19 02:32] amirrajan commented on #83
Added `AVFoundation` here should fix it, mind verifying and sending a PR? https://github.com/HipByte/Flow/blob/master/lib/cocoa.rb#L33

[2019-08-20 17:15] #83 closed

[2019-08-28 17:51] jlmuir commented on #83
Any chance of publishing a new gem with the fix?

[code]

[2019-08-29 01:07] amirrajan commented on #83
Will do 👍

[2019-09-25 21:56] jlmuir commented on #83
Ping?

[2019-09-26 05:10] amirrajan commented on #83
Holding off on this until iOS 13+ has stabilized. I want to do a solid regression before pushing out a release. Promise I haven't forgotten :-)

[2019-09-26 14:49] jlmuir commented on #83
Understood. :-)  Thanks!

[2019-09-27 19:47] jlmuir commented on #83
FYI, if I set `app.deployment_target = '10.0'` in the `Motion::Project::App.setup` block of a project's `Rakefile`, it will compile fine.  So, something must have changed between the `10.0` target and the `12.4` target.  I don't know whether you want to only add `AVFoundation` to `app.frameworks` if it's needed or always.  If always, then the commit is fine.  If only when it's actually needed, the

[2019-10-02 21:53] amirrajan commented on #83
Just another quick update (I haven't forgotten). Xcode 11.2 beta just dropped. So we haven't reached a point of stability yet.

These are the dependent libraries for AVFoundation: https://github.com/amirrajan/rubymotion-templates/commit/f364d1b1e439aec6e494741e2f0c349c2ded892b#diff-2764fb034014732dd20e2070e88f1d75R124

[2019-11-02 16:18] amirrajan commented on #83
Xcode 11.2 finally went live. I'll get this merged in soon.

[2019-11-21 02:25] amirrajan commented on #83
Very very close (Xcode 11.2 was just deprecated by Apple). So now waiting for Xcode 11.2.1 to stabilize...